.ui-button {
    text-align: center;
    border: unset;
    color: #fff;
    cursor: pointer;
    padding: 20px 16px;
    width: 311px;
    &.icon {
        display: flex;
        justify-content: space-between;
    }
    &.primary {
        background: #026c00;
        &:hover {
            background: #079504;
        }
        &:active {
            background: #013c00;
        }
        &:disabled {
            background: #b7d0b6;
            cursor: context-menu;
        }
    }
    &.secondary {
        background: #f7c346;
        &:hover {
            background: #ffdf77;
        }
        &:active {
            background: #dcac0d;
        }
        &:disabled {
            background: #ffe58d;
            cursor: context-menu;
        }
    }
}
